@media(max-width:576px){
    .microsoftImg{
        width:180px
    }
    .outLookImg{
        display: none;
    }
    body{
        margin: 0%;
        overflow-x: hidden;
    }
}
* h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    
}
* h2{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    font-weight: 900;
}
* p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 20px;
}

 header li:hover{
    border: 1px solid green;
    border-radius: 10px;
   
}
 section li:hover{
    border: 1px solid green;
    border-radius: 10px;
   
}

.banner1,
.banner2{
    width:100%;
    height:690px;
    background-size: cover;
    background-position: top;
    object-fit: cover;
    overflow: hidden;
    color:white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
    
}
.banner1{
    background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0.427),rgba(0, 0, 0, 0.409)), url("assets/banner1.png");
}
.banner2{
    background-image:linear-gradient(to bottom,rgba(0, 0, 255, 0.427),rgba(0, 0, 0, 0.324),rgba(0, 0, 0, 0.511)), url("assets/banner2.webp");
    
}
.banner1 p,.banner2 p{
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;  
}
.banner1 h1,.banner2 h1{
    font-weight: bolder;
}
.about h3{
    text-align: start;
    padding:20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
   
}
.about h2{
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.about p{
     text-align: justify;
     padding-left: 10px;
     font-size: 17px;
     font-family: Georgia, 'Times New Roman', Times, serif;
}
.card img{
    height:200px;
    object-fit: cover;
    
}
.imgcard{
   overflow: hidden;
   height:100%;
   
}
.card{
    height:100%;
    margin-bottom: 30px;
    transition-duration: 1s;
    border-radius: 10px;
}
.smart img{
    padding:20px
}
    
.products .card img{
     object-fit: cover;
}
.products .imgcard{
   overflow: hidden;
   height:100%;
   
}

.products .card:hover .imgcard img,
.products .imgcard:hover img {
  transform: scale(1.15); 
  transition-duration: 1s;
}

h5{
    font-weight: bold;
}

@media(min-width:576px){
    .imgcard{
        height:200px;
    }
    .col-lg-6,.col-xl-3{
        margin-bottom: 30px;
    }
    
}
@media(min-width:768px){
    .banner1,.banner2{
        padding:130px;
        padding-left:200px
    }
}
@media(max-width:768px){
    .banner1,.banner2{
       padding: 55px;
    }
}
.product{
    width:100%;
    height:100%;
   
    border-radius: 10px;
}
.card:hover{
    box-shadow: 1px 1px 5px 1px gray;
}
.products .card{
    border-radius: 0px 0px 20px 20px ;
}
.para{
    height:200px
}
.year{
    display: flex;
    justify-content: space-between;
}
    


details{
    border-bottom:2px solid gray;
    margin-bottom: 20px;
    border-radius: 15px;
    padding-left:30px;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:19px;
    transition-duration: 1s;
}

details:hover{
    transform: translate(60px)
    
}
.form img{
    margin:auto
}
footer{
    background-color:rgb(36, 36, 36);
    color:white
}
footer li{
    list-style: none;
}
footer li:hover{
    border-bottom: 1px soild white;
    cursor: pointer;
}
.footer-last{
    background-color:rgb(206, 231, 241);
    color:black;
    font-size: 16px;
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-top: 1px dotted black;

}